policy_module(c_note, 1.100.1)

########################################
#
# Declarations
#

type c_note_t;
type c_note_exec_t;
init_daemon_domain(c_note_t, c_note_exec_t)

permissive c_note_t;

type c_note_initrc_exec_t;
init_script_file(c_note_initrc_exec_t)

type c_note_conf_t;
files_type(c_note_conf_t)

type c_note_var_lib_t;
files_type(c_note_var_lib_t)

type c_note_var_run_t;
files_type(c_note_var_run_t)

type c_note_port_t;
corenet_port(c_note_port_t)

########################################
#
# c_note local policy
#
allow c_note_t self:process { fork };

allow c_note_t self:fifo_file rw_fifo_file_perms;
allow c_note_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(c_note_t, c_note_conf_t, c_note_conf_t)
manage_files_pattern(c_note_t, c_note_conf_t, c_note_conf_t)

manage_dirs_pattern(c_note_t, c_note_var_lib_t, c_note_var_lib_t)
manage_files_pattern(c_note_t, c_note_var_lib_t, c_note_var_lib_t)
files_var_lib_filetrans(c_note_t, c_note_var_lib_t, { dir file })

manage_dirs_pattern(c_note_t, c_note_var_run_t, c_note_var_run_t)
manage_files_pattern(c_note_t, c_note_var_run_t, c_note_var_run_t)

sysnet_dns_name_resolve(c_note_t)
corenet_all_recvfrom_unlabeled(c_note_t)

allow c_note_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(c_note_t)
corenet_tcp_sendrecv_generic_node(c_note_t)
corenet_tcp_sendrecv_all_ports(c_note_t)
corenet_tcp_bind_generic_node(c_note_t)

gen_require(`
    type c_note_port_t;
')
allow c_note_t c_note_port_t:tcp_socket name_bind;

gen_require(`
    type c_note_port_t;
')
allow c_note_t c_note_port_t:tcp_socket name_connect;

domain_use_interactive_fds(c_note_t)

files_read_etc_files(c_note_t)

miscfiles_read_localization(c_note_t)

sysnet_dns_name_resolve(c_note_t)

allow c_note_t c_note_exec_t:file execute_no_trans;
allow c_note_t self:process setsched;
corecmd_exec_ls(c_note_t)
corenet_tcp_connect_http_port(c_note_t)
dev_read_urand(c_note_t)
fs_getattr_xattr_fs(c_note_t)
kernel_read_system_state(c_note_t)
