# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=C_Note
Comment=C_Note QT test network
GenericName=C_Note Digital Currency QT client testnet network
Exec=c_note-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/c_note_testnet.png
MimeType=x-scheme-handler/cnote;
Categories=X-Office;X-Finance;
Keywords=internet;c_note;tcnote;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
