# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=C_Note Daemon SNAP
Comment=main
GenericName=C_Note Digital Currency Daemon Client main network
Exec=c_note-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/c_note.png
MimeType=x-scheme-handler/cnote;
Categories=X-Office;X-Finance;
Keywords=internet;c_note;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
